.post_img{
    width: 80px;
    border-radius: 50%;
}
.post {
    display: flex;
    justify-content: left;
    margin: 10px 0 10px 0;
    border: 2px solid rgb(190, 112, 230);
}
.post_text{
    margin-left: 3vw;
    font-size: 1.3rem;
}