.loginForm{
    width: 65vw;
    display: block;
    border: 3px solid rgb(190, 112, 230);
    padding: 10px;
}
.submitBtn{
    width: 7vw;
    height: 5vh;
    background-color: rgb(190, 112, 230);
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: bold;
}
.submitBtnContainer{
    
}
.checkboxDiv{
    width: 100%;
    height: 5vh;
}